{% extends "base.html" %}\
{% block content %}
    <h1>Find Your Darkness. Find Your Strength
    </h1>

    <form action='/get-name' method="post">
        
        <label>Username:<br>
            <input type="text" name="name" required>
        </label><br>
        
        <label>Password:<br>
            <input type="password" name="password" required>
        </label><br>
     
        <input type="submit" value="Log In"> 
    </form>

    <form action='/change-password'>
        <input type="submit" value="Forget Password?">

    </form>
    
    <form action='/register'>
        <label>New to here?
            <input type="submit" value="Sign Up">
        </label>
    </form>

{% endblock content %}


