<!DOCTYPE html>
<html>
<head>
    <title>My Record</title>
</head>
<body>
    <form action="/get-user-record", method="post">
        <thead>
            <tr>
               <th>list</th> 
               <th>self-evaluate</th>
            </tr>
        </thead>

        <table>
            <tr>
                <td>Wake up time:</td>
                <td>
                     <input type="text" name="wakeup" placeholder="When did you wake up?">
                </td>
               
            </tr>

            <tr>
                <td>Sleep efficiency last night:</td>
                <td>
                     <input type="text" name="sleep" placeholder="What's your feeling about your sleep?">
                </td>
            </tr>

            <tr>
                <td>How's the weather:</td>
                <td>
                     <input type="text" name="weather" placeholder="How's weather today? Sunny? Windy? Cloudy?">
                </td>
            </tr>

            <tr>
                <td>How was your meal:</td>
                <td>
                     <input type="text" name="meal" placeholder="What did you eat?">
                </td>
            </tr>

            <tr>
                <td>Exercise duration:</td>
                <td>
                     <input type="text" name="exercise" placeholder="How long of your exercise?">
                </td>
            </tr>
                
            <tr>
                <td>Mood in general:</td>
                <td>
                     <input type="text" name="mood" placeholder="How's your mood today?">
                </td>
            </tr>
            
            <tr>
                <td>Notes:</td>
                <td>
                     <input type="text" name="note" placeholder="Anything you want to write down?">
                </td>
            </tr>
                
        </table>

        <input type="submit" name="submit" value="create">
        
    </form>

    <form action="/user-homepage" method="get">
        <input type="submit" name="cancel" value="cancel">
    </form>

</body>
</html>