
<!DOCTYPE html>
<html>
<head>
  <title>User Register</title>
</head>
<body>

  <h1>Register</h1>

  <form>
    <div>
      <label for="first-name">First Name:</label>
      <input type="text" name="first-name" id="first-name" placeholder="John" required />
      <label for="last-name">Last Name:</label>
      <input type="text" name="last-name" id="last-name" placeholder="Smith" required />
    </div>
    
     <div>
        <label for="radio-choice-1">Male</label>
        <input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" />

        <label for="radio-choice-2">Female</label>
        <input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" />

       <label for="radio-choice-3">Other</label>
        <input type="radio" name="radio-choice" id="radio-choice-3" value="choice-3" />
     </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required placeholder="your email">

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" pattern=".{5,10}" placeholder="your password" required title="5 to 10 characters">
    </div>

  <!-- WARNING! DANGER! CAUTION! -->
  <!-- DATE PICKER CRAZINESS BELOW!!!! -->
    <div>
      <!-- Normally we'd have a label for each field, but since these 3 select drop downs go together, we'll just use one and make it match up to the first select field (month) -->
      <label for="select-choice">Birthday:</label>
      <select name="select-choice" id="select-choice">
        <option value="0" selected disabled>Month</option>
        <option value="january">Jan</option>
        <option value="february">Feb</option>
        <option value="march">Mar</option>
        <option value="april">Apr</option>
        <option value="may">May</option>
        <option value="june">Jun</option>
        <option value="july">Jul</option>
        <option value="august">Aug</option>
        <option value="september">Sep</option>
        <option value="october">Oct</option>
        <option value="november">Nov</option>
        <option value="december">Dec</option>
      </select>
      
      <select name="birthday-day" id="day">
        <option value="0" selected disabled>Day</option>
        {% for num in range(1, 32) %}
            <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
      </select>
      
      <select name="birthday-year" id="year">
        <option value="0" selected disabled>Year</option>
        {% for num in range(1950, 2020) %}
            <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="checkbox">I agree to the terms and conditions</label>
      <input type="checkbox" name="checkbox" id="checkbox" />
    </div>

    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>  

</body>
</html>