<!DOCTYPE html>
<html>
<head>
    <title>my homepage</title>
</head>
<body>
    <span>
        <form action="/my-profile" >
            <img src="default.png">
            <input type="submit" name="profile" value="My Profile">
        </form>
        
    </span>

    <div>
        <form action="/my-record" method="get">
            <input type="submit" name="record" value="Write My Mood">
        </form>
    </div>

    <div>
        <form action="/my-story" method="get">
            <input type="submit" name="blog" value="Tell My Story">
        </form>
    </div>

    <div>
        <form action="/public-world" method="get">
            <input type="submit" name="world" value="Underneath The World">
        </form>
    </div>
</body>
</html>