<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
</head>
<body>
    <h1>Hello! {{ title }}</h1>

    <img src="static/default.png"><br>
    <button id="change">change profile</button>

    <h4>
        <div>
            username: {{ title }}
        </div>
        <div>
            email: {{ title }}
        </div>
        <div>
            birth: {{ title }}
        </div>
    </h4>

    <form action="/user-homepage" method="get">
        <input type="submit" name="goback" value="go back">
    </form>
</body>
</html>